*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html{

   
    height: 100vh;
    width: 100vw;
    background:url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    
    
    
}

  
    
body{
    margin: 30px 0px 0px 70px;
    height: 90vh;
    width: 90vw;
    background-color: #fff;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    filter: brightness(2px);
}

 .up{

    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.logo{ 
    
    width:20%;
    padding-left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;}

.emo{
font-size: 45px;
position: absolute;
right: 180px;
bottom: 10px;
}


.logo ul{
    list-style: none;
    display: flex;
    justify-content: center;
    bottom: 15px;
    font-size: 50px;
    font-weight: bold;
    font-family: Helvetica;
    
    
}
.logo ul li:nth-child(1){
    color: #2f2f2f;}

.logo ul li:nth-child(2){
        color: #2f2f2f;}
.logo ul li:nth-child(3){
            color: #2f2f2f;}
.logo ul li:nth-child(4){
                color: #2f2f2f;}
.logo ul li:nth-child(5){
                    color:#2f2f2f;}

.logo ul li:nth-child(6){
    color:#1A6D65;} 
.logo ul li:nth-child(7){
    color:#1A6D65;}
.logo ul li:nth-child(8){
        color:#E66A23;}   
    


nav{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    font-family:   Helvetica;
    margin: 15px;}


.same{color: #5f5d5d;}


.log {
    padding: 15px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    background-color: #1A6D65;
}

.sign{
    padding: 15px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    color: white;
    background-color: #E66A23;
}

.content{

height: 70vh;
display: flex;
justify-content: space-between;
align-items: center;
}


.left {
    width: 40%;
    
    
}
.left h2 {
    font-size: 40px;
    font-weight: 700;
    font-family:   Helvetica;
    padding-left: 30px;
    color: #2f2f2f;

}
.world{
    color: #E66A23;
}

.left h4 {
    margin:  40px 0px 40px 0px;
    font-size: 20px;
    font-weight: 600;
    font-family:   Helvetica;
    letter-spacing: 1px;
    padding-left: 30px;
    color: #5f5d5d;
    }


    .more{
        
        margin-left: 30px;
        text-decoration: none;
        font-size: 30px;
        font-weight: 900;
        font-family: helvetica;
        background-color: #fff;
        color: #1A6D65;
        padding: 15px;
        border: 1px solid #1A6D65;
       border-radius: 40px;
       box-shadow: 1px 2px gray;
    }

.right{

width: 60%;
display: flex;
justify-content: center;
align-items: center;

}
 

img{ 
    margin-bottom:40px ;
    height: 400px;
    width: 550px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
    
    
}

.footer h3{
    margin:  30px 0px 20px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: helvetica;
    color: #fff;
    background-color: #E66A23;
    padding: 13px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    

}


.footer a{
    padding: 10px;
    margin: 10px 0px 0px 0px;
    text-decoration: none;
    background-color: #1A6D65;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
    