*{margin: 0px; padding: 0px; box-sizing: border-box;}

body{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url(images/coffee3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
 
}

.navsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left:  15px;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
   
}

.logo{
    padding-left: 150px;
    width: 30%;
    color: black;
    background-color: white;
}

.wrapper{
    width: 70%;
    margin:  0 auto;
    
}
.wrapper ul{padding: 0px;
   
    text-transform: uppercase;


    
    
}
.wrapper ul li{
list-style: none;
width: 200px;
height: 50px;
text-align: center;
float: left;
position: relative;
font-size: 30px;
font-weight: 900;
line-height: 50px;
color: beige;

}

.wrapper ul li ul {display: none;}


.wrapper ul li:hover >  ul {
    display: block;

}

.wrapper ul li:hover {
    background-color: black;
    color: rgb(179, 121, 54);
    
}
