*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.content{background-color: brown;
    height: 350px;
    width: 600px;
    position: relative;
    top: 100px;
    left: 300px;
}
.logo{background-color: blanchedalmond;
    height: 120px;
    padding-left: 210px;
}
.logo img{
    height: 130px;  
}
.dashboard{
    background-color: cornflowerblue;
}
.dashboard h3{
    font-size: 30px;
    font-weight: 900;
    font-family: helvetica;
    background-color: chartreuse;
    padding: 10px;
    text-align: center;
}

.user{
    height: 30px;
    padding-left: 30px;
    margin: 25px 30px;
    
   
   


}
.user input{
  padding: 10px;
    width: 90%;
    border: none;
    outline: none;
 
   
   
}





