*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.clear{
    overflow: hidden;
}

body{
    width: 100%;
    height: 1300px;
    cursor: pointer;
}

.marquee{
    height: 30px;
    width: 100%;
    padding: 5px;
    background-color: rgb(199, 196, 196);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

nav{
    height: 100px;
    width: 100%;
    background-color: white;
    color: #000;

}
.navsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

.location{
    color: black;
}


.afm{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black; 
    font-family: 'arial';
    letter-spacing: 1px;

    
}

.searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.searchtext{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;;
    font-size:20px ;
    width: 300px;
    position: relative;
    background-color: rgb(216, 213, 213) ;

}

.btn{

    height: 40px;
    width: 40px;
    position: absolute;
    right: 440px;
    font-size: 30px;
    background-color: rgb(216, 213, 213);
    color: rgb(17, 17, 16);
    align-items: center;
    justify-content: center;
    display: grid;
    text-decoration: none;

}

.user{
    
    color: black;
    font-size: 20px;
    font-weight: bolder;
}
.cart{
    font-size: 30px;
    color: black;
}


.lang{
    font-size: 30px;
    color: black;
}

.logo{
    background-color:white;
    height: 110px;
    padding-left: 30%;
}

.menu{
    height: 50px;
    background-color: white;
    border-top:1px solid grey;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}

.menu ul{
list-style: none;
display: flex;
justify-content: space-around;
align-items: center;


}

.menu ul li{
    padding: 10px;
    text-transform: uppercase;
    font-family: arial;
    font-size: 22px;
    font-weight: 500;

}

.menu ul li a{
    color: #000;
    text-decoration: none;
}

.img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: white;
    position: relative;
}

.img1{
    
    height: 300px;
    width: 300px;

  
    
   
}

.img2{
    height: 300px;
    width: 300px;
}

.img3{
    height: 300px;
    width: 300px;
}

.img4{
    height: 300px;
    width: 300px;
}

.img p{
font-family: arial;   
text-transform: uppercase;
color: #fff;
text-shadow: 2px 2px 3px rgb(31, 30, 30);
position: absolute;
padding-left: 28px;
font-size: 33px;
font-weight:700 ;
top: 50%;

}
.img1{
   transition:0.9s linear; 

}
.img1:hover{
    transform: scale(1.1);
}
.img2{
    transition:0.9s linear; 
 
 }
 .img2:hover{
     transform: scale(1.1);
 }
 .img3{
    transition:0.9s linear; 
 
 }
 .img3:hover{
     transform: scale(1.1);
 }
 .img4{
    transition:0.9s linear; 
 
 }
 .img4:hover{
     transform: scale(1.1);
 }

 .table{
     width: 100%;
     height:250px;
     left: 80px;
     position: relative;
    
 }


.table a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 500px;
    margin: 2px;
    padding: 15px;
    text-decoration: none;
    top: 80px;
    font-size: 40px;
    font-weight: bold;
    font-family: arial;
    text-transform: uppercase;
    background-color: black;
    color:white;
    text-shadow: 2px 2px 3px rgb(31, 30, 30);

}
.table :hover{
    background-color: #fff;
    color: #000;
}

.footersection{
margin-top: 40px;
margin-left: 10px;
height: 300px;
width: 100%;
display: flex;
justify-content: space-around;
align-self: center;
border-top: 1px solid grey;

}


.contact{
    padding-top: 50px;
    width: 23%;
    font-size: 15px;
    font-weight: 100;
    font-family: arial;font-size: 20px;
}

 .contact p{
    font-weight: 200;
    font-family: arial;font-size: 20px;
 }


.about{ width: 23%;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 400;
    font-family: arial;
   

}

.about a {
    text-decoration: none;
    color: #000;}


.shop{
    width: 23%;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 400;
    font-family: arial;
}


.shop a{
    text-decoration: none;
    color: black;
}

.link{
    width: 23%;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 400;
 
}

.social{
    display: flex;
    justify-content: space-around;
    
}
.social a{
    text-decoration: none;
    border-radius: 10px;
    color: #000;
transition: all 0.3s linear;
}
.social a:hover{
    transform: scale(1.2);
    background-color: #000;
    color: #fff;
}
.download{
    margin: 15px;
}
.download img{
    transition: all 0.2s linear;
    
}
.download img:hover{
    transform: scale(1.1);
}


