*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.body{
    height: 100vh;
    width: 100vw;
}

.up{
    
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 50%;
    height: 90px;
    display: flex;
    justify-content:left ;
    align-items: center;
    padding-left: 25px;

}

.src{
    width: 50%;
    height: 90px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 50px;
    
}

.searchText{
    padding: 15px;
    
}

.src a{text-decoration: none;
    background-color: rgb(10, 102, 10);
    color: aliceblue;
    padding: 8px;
    

}

.down{


   background-color: rgb(241, 240, 240);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    width: 50%;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 25px;
    

}

.nav a{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color:rgb(10, 102, 10);
}



.icon a{
    text-decoration: none;
    margin: 10px;
    color:rgb(10, 102, 10);
}


.text{
    padding-top: 40px;
    text-align: center;
    height: 120px;
    font-size: 20px;
    font-weight: 900;
    color:rgb(10, 102, 10);

}

.center img{
    height: 270px;
    width: 100%;
    margin-bottom: 50px;

}
.ex{
    height: 100px;
    padding-left: 600px;
}

.ex a{
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    background-color:rgb(10, 102, 10);
    padding: 20px;
    border-radius: 5px;
}