*{
    margin: 0%;
    padding: 0%;
    }

 .clear{ overflow: hidden;}   

 body{
     height: 100vh;
     width: 100vw;
 }


 header{background-color:#9FD3D1;
     height: 20vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     

 }

 .logo{
    width: 20%;
    padding-left: 50px;
    color: #fff;
    text-shadow: 1px 2px 2px rgb(53, 52, 52);

 }


 .nav{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  
 
 }

 .nav a{
     text-transform: capitalize;
     text-decoration: none;
     font-size: 25px;
     font-weight: 600;
     font-family: helvetica;
     margin: 20px;
     text-shadow: 1px 2px 2px rgb(53, 52, 52);
     transition: all 0.4s linear;
 }

 .nav a:hover{
     transform: scale(1.1);
 }

 .same{
     color: #fff;
     border: 2px solid #0b7470;
     padding: 8px;
     border-radius: 15px;
     
 }



.log{
    letter-spacing: 1px;
   
    padding: 8px;
    border-radius: 15px; 
    text-shadow: 1px 2px 2px rgb(53, 52, 52);
    background-color: #0b7470;
    color: #fff;
  

}

.sign{

    letter-spacing: 1px;
    
    padding: 10px;
    border-radius: 15px; 

    text-shadow: 1px 2px 2px rgb(53, 52, 52);
    background-color: #0b7470;
    color: #fff;
   

}


 main{
    background:linear-gradient( to bottom,#9fd3d1 70%,#fff 30%);
    height:80vh ;
    
    
 }

 .up{
    
    display: flex;
    justify-content: center;
    align-items: center;
    

 }
 .up h2{
     color: #fff;
    
    font-size: 35px;
    font-weight: bold;
    font-family: helvetica;
    margin: 0px 40px 30px 20px;
    letter-spacing: 1px;
    text-shadow: 1px 2px 2px rgb(53, 52, 52);

 }

 .buy{
    font-size: 30px;
    font-weight: 900;
    font-family: helvetica;
    text-decoration: none;
    color: #fff;
    background-color: #0b7470;
    letter-spacing: 1px;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    text-shadow: 1px 2px 2px rgb(53, 52, 52);
    
 }

 .ex{
    font-size: 30px;
    font-weight: 900;
    font-family: helvetica;
    text-decoration: none;
    background-color: #0b7470;
    color: #fff;
    letter-spacing: 1px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 15px; 
    text-shadow: 1px 2px 2px rgb(53, 52, 52);
 }



 .up img{
    background:linear-gradient( to bottom,#9FD3D1 75%,#FFF 25%);
    
    height: 400px;
    width: 820px;
 }

 .down{
     display: flex;
 }

 .text{
     width: 25%;
     font-size: 20px;
     font-weight: 500;
     font-family: helvetica;
     padding: 30px;
     background-color:rgb(211, 211, 216) ;
    width: 25%;
    border: 2px solid grey ;
    border-radius: 15px;
    transition: all 0.9s linear;
 }

 .text:hover{
     transform: scale(0.9);
 }
 .visit{
     display: grid;
     text-align: center;
     
 }


 .visit1{
    font-size: 20px;
    font-weight: 900;
    font-family: helvetica;
    text-decoration: none;
    background-color: #0b7470;
    color: #fff;
    letter-spacing: 1px;
    padding: 15px;
    margin-top: 20px;
    border-radius: 15px; 
    text-shadow: 1px 2px 2px rgb(53, 52, 52);
 }

 
 .visit2{
    font-size: 20px;
    font-weight: 900;
    font-family: helvetica;
    text-decoration: none;
    background-color: #0b7470;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 20px;
    padding-top: 100px;
    padding: 15px;
    border-radius: 15px;
    text-shadow: 1px 2px 2px rgb(53, 52, 52);
}

 .chair{background-color:rgb(211, 211, 216) ;
    width: 25%;
    border: 2px solid grey ;
    border-radius: 15px;
    transition:all 0.9s linear ;

}

.chair:hover{
    transform: scale(0.9);
}
.chair img{
    height: 250px;
    width: 380px;
}

.chair h5{
    font-size: 25px;
    font-weight: 500;
    font-family: helvetica;
    padding: 40px;
    margin-top: 10px;
}




.bed{
    background-color: rgb(211, 211, 216);
        width: 25%;
        border: 2px solid grey ;
        border-radius: 15px;
        transition: all 0.9s linear;
    }
    .bed:hover{
        transform: scale(0.9);
    }

    .bed img{
        height: 250px;
        width: 300px;
    }
    
    .bed h5{
        font-size: 25px;
        font-family: helvetica;
        font-weight: 500;
        padding: 20px; 
        margin-top: 10px;
    }  

    .mirror{background-color:rgb(211, 211, 216);
        width: 25%;
        border: 2px solid grey ;
        border-radius: 15px;
        transition: all 0.9s linear;
    } 

 .mirror:hover{
     transform: scale(0.9);
 }   

    .mirror img{
        height: 250px;
        width: 300px;
    }
    
    .mirror h5{
        font-size: 25px;
        font-family: helvetica;
        font-weight: 500;
        padding: 30px; 
        margin-top: 10px;
    } 
    